Repository aryangorde8/Devsync: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, eslint, typescript

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint -- --fix'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix: Resolve ESLint errors and improve code quality
  frontend/jest.config.mjs
  frontend/jest.setup.ts
  frontend/public/sw.js
  frontend/src/app/dashboard/activity/page.tsx
  frontend/src/app/dashboard/analytics/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/projects/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/dashboard/share/page.tsx
  frontend/src/app/offline/page.tsx
  frontend/src/app/portfolio/[username]/page.tsx
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/Notifications.tsx
  frontend/src/components/Onboarding.tsx
  frontend/src/components/PWAInstallPrompt.tsx
  frontend/src/components/SearchModal.tsx
  frontend/src/components/Skeleton.tsx
Due: eslint, typescript

fix: Update CI/CD workflow and fix remaining lint warnings
  .github/workflows/ci-cd.yml
  frontend/jest.config.mjs
  frontend/public/sw.js
Due: none

fix: Add baseUrl to tsconfig.json for path resolution
  frontend/tsconfig.json
Due: none

security: upgrade Django to 5.1.14 and requests to 2.32.4
  backend/requirements.txt
Due: django-check

fix: correct migration index field names and shorten index names
  backend/portfolio/migrations/0004_add_indexes.py
  backend/portfolio/models.py
  backend/static/.gitkeep
Due: django-check

ci: create .env.local file before frontend build
  .github/workflows/ci-cd.yml
Due: none

ci: add cache clearing step before frontend build
  .github/workflows/ci-cd.yml
Due: none

fix: add missing api.ts file and fix gitignore
  .gitignore
  frontend/package.json
  frontend/src/__tests__/lib/api.test.ts
  frontend/src/lib/api.ts
Due: eslint, typescript

Fix: hydration error in OfflineIndicator (PWAInstallPrompt)
  frontend/src/components/PWAInstallPrompt.tsx
Due: eslint, typescript

Path conditions:
  django-check: any of: ^backend/
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/src/.*\.(ts|tsx)$
